#summaryarea h2			{ padding:0px;  }

/***************************************************************************************
										HOMEPAGE - HEADER
***************************************************************************************/
#quick_links ul li												{ padding:1px 15px 3px 7px; }

#logo_container													{ position:absolute; top:98px; z-index:9999;  }
#logo_container #social_icons									{ float:right; margin:10px 0px; }
#social_icons_inner												{ margin-right:90px; }
.ie-spacer														{ height:75px; }
/***************************************************************************************
										MENUS
***************************************************************************************/
.topmenus ul													{ float:right; }
.topmenus ul li													{ float:left; padding:8px 15px 8px 7px; background:url(../img/bullet.png) no-repeat right center; }
.topmenus ul li	ul li											{ float:none; }
.topmenus ul li:last-child										{ background:none !important; padding-right:0px !important; }
.topmenus ul li.last-child										{ background-image:none; padding-right:0px !important; }
.topmenus ul li a												{ color:#818b92; }
.topmenus ul li a:hover											{ color:#fff; }
.topmenus ul li a span											{ text-shadow: 1px 1px 1px #212020; } /*** not supported in Internet Explorer ***/
.topmenus ul li.current a										{ font-weight:700; color:#fff; }

#main_links	ul li.last-child									{ background-image:none; padding-right:0px !important; }
.topmenus ul li	ul li											{ padding:0px; background:none; float:left; width:100%; clear:both; }

#quick_links													{ z-index:-1;}

#why_us	h2														{ font-size:24px; }


#footer	ul.bottom_menus li										{ padding:7px 9px 0px 9px; }
ul#portfolio_links												{ top:-8px; }

/***************************************************************************************
										LISTS
***************************************************************************************/

ul#comment-list li												{ padding-bottom:0px; }


/***************************************************************************************
										HOMEPAGE
***************************************************************************************/
#begin_here														{ margin-right:0px; }

#great_opportunity .alignRight									{ width:100%; }
#great_opportunity .alignRight .sub_quicklinks					{ width:170px; float:right; }


body.page-why_choose_us #summaryarea ol.feature2 li	 a			{ padding-left:10px; }

ul.form li														{ margin-right:10px; }

/***************************************************************************************
										TRIGGER
***************************************************************************************/
div.trigger														{ position:absolute;   top: expression( ( 270 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); text-decoration: none; font-size: 11px;}
#toTop 															{ position:absolute;    top: expression( ( 450 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );  }


/***************************************************************************************
										1 PX BORDER FIX
***************************************************************************************/
div.dotted_border												{ border:1px dotted #9f9f9f; }
